html, body {
  height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.content > * {
    display: flex;
    flex: 1;
}

.header, .hero, .footer {
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 16px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.header-logo {
    font-weight: bold;
}

.hero {

}

.information {

}

.quote {
    background-color: #E5E7Eb
}


