html, body {
  height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.top-section {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    gap: 32px;
    flex: 1;
    width: 100%;
    align-items: center;
    padding-bottom: 64px;
}   

.header, .hero, .footer {
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

.header, .hero {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; /* Centers the container */
    padding-left: 144px;
    padding-right: 144px;
    box-sizing: border-box;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.header-logo {
    font-weight: bold;
    font-size: 24px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

.hero .left,
.hero .right {
    flex: 1;
}

.hero .right {
    display: flex;
    justify-content: flex-end;
}

.hero .right img {
    max-width: 90%;   /* can’t exceed column width */
    height: auto;      /* maintain aspect ratio */
    display: block;    /* remove inline spacing */
    padding-bottom:32px;
}
.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    background-color: #3882F6;
    color: white;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
    margin-top: 12px;

}

.information {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.information .container {
    display: flex;
    padding: 48px;
    flex-direction: row;
    gap: 48px;
    flex-wrap: wrap;
}

.info-header {
    display: flex;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-top: 32px;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 150px;
}

.card-wrapper p {
    text-align: center;
}

.card {
    display: flex;
    border: 3px solid #3882F6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    padding: 16px;
}

.quote-section {
    display: flex;
    flex: 1;
    background-color: #E5E7EB;
    padding: 72px;
}

.quote-section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
}

.quote {
    display: flex;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    align-self: center;
}

.quote-author {
    display: flex;
    align-self: flex-end;
    font-weight: 900;
    font-size: 24px;
}

.call-to-action {
    display: flex; 
    flex: 1;
}
